.view_img_div_par{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.view_img_div_par .view_img_div_chd{
    width: 60%;
    max-width: 60%;
    height: 80%;
}

.view_img_div_par .view_img_div_chd img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}

.view_desc_div_par{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.view_title{
    margin: 2rem 0;
}

.readmore_btn{
    border: none;
    outline: none;
    color: #ffa600;
    background: transparent;
}

@media only screen and (max-width: 786px){
    .view_title{
        margin: 0.5rem 0;
    }
    .view_desc_div_par{
        padding: 0 0.5rem;
    }
}